//POSSO USARE VARIABILI 

$primary : #9954c1; //variabile tipo colore
$secondary : #818181;

$spacer : 1rem; /*posso usare anche unità di misura nelle variabili*/

$body-font: Arial, Helvetica, sans-serif;